%p
  %strong Title:
  = @event.title
%p
  %strong Start time:
  = @event.start_time
%p
  %strong End time:
  = @event.end_time
%p
  %strong Description:
  = @event.description
%p
  %strong All day:
  = @event.all_day
%h1 Members
%table.table
  %thead
    %tr
      %th Username
      %th Email
      %th Phone
      %th RSVP
  %tbody
    - @event.user_events.each do |user_event|
      %tr
        %td= link_to user_event.user.username, user_path(user_event.user)
        %td= user_event.user.email
        %td= user_event.user.phone
        %td= user_event.rsvp_status
%br/
- if event_owner?(@event)
  = link_to 'Edit', edit_event_path(@event)
  |
= link_to 'Back', events_path
